# Python build files
__pycache__/

# pip build files
*.egg-info

# PyCharm project files
.idea

# Jupyter autosaves
.ipynb_checkpoints/

# VS Code configuration
.vscode/

# pytorch saved models
*.pt

# Downloaded intermediate files
*.zip

# Torchvision directory
vision0.8.2/
vision/

# Muscima dataset directory
muscima/
data/

# Checkpoints
checkpoints/
saved_models/.DS_Store
.DS_Store
